body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*my css*/
/* .container {
  display: flex;
  border-color: rgb(255, 21, 0);
  grid-template-columns: auto auto auto auto;
  border-style: solid;
} */

h1 {
  color: red;
  min-width: 100px;
  height: 50px
}

.description {
  width: 100%;
  width: 400px;
  padding: 0px;
}

.button-enabled {
  width: 50px;
  height: 50px;
  margin-left: 350px;
  background-color: green;
}

.button-disabled {
  width: 50px;
  height: 50px;
  margin-left: 350px;
  cursor: not-allowed;
}

.image {
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: rgb(197, 110, 79);
}